      background-image:linear-gradient
      background-color
      color
      font-family
      font-size
      font-weight 
      text-decoration
      text-align      
      letter-spacing
      border
      border-radius
      box-shadow
      width
      margin
      margin-top
      padding      
      display
      a:hover
      a:visited
      transform 
      transition
      width
      max-width
      height
      justify-content
      flex-wrap
      gap

