body{
    background-color: black; 
    color: orangered;
}

h1{
    font-size: 188px;
    letter-spacing: 22px;
}

.container, .ingresar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

a{
    text-decoration: none;
    color:orangered;
    font-family: fantasy;
    font-size: 44px;
}

.ingresar{    
    width: 366px; 
    height: 88px; 
    background-color: black;
    border-radius: 44px;
    transition: background-color 0.3s ease; 
}
 
.ingresar:hover{
    background-color: orangered;
    transform: scale(1.05); /* Efecto de crecimiento al hover */
    box-shadow: 0 0 20px rgba(236, 189, 171, 0.933); /* Brillo naranja */
}

.ingresar:active{
    background-color: darkred; /* Color más oscuro al hacer clic */
    transform: scale(0.95); /* Efecto de "presión" */
}

.ingresar:active a{
    color: white;
}

.ingresar:hover a{
    color: white;
}

/* Agregar transición al enlace también */
.ingresar a{
    transition: color 0.3s ease;
}

.text-shadow-pop-top {
	-webkit-animation: text-shadow-pop-top 2s both;
	        animation: text-shadow-pop-top 2s both infinite;
}



/* ----------------------------------------------
 * Generated by Animista on 2025-11-2 1:7:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-shadow-pop-top
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 #f6f6f3, 0 0 #f6f3f3, 0 0 #f6f3f3, 0 0 #f6f3f3, 0 0 #f6f3f3, 0 0 #f6f3f3, 0 0 #f6f3f3, 0 0 #f6f3f3;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    text-shadow: 0 -1px #f6f3f3, 0 -2px #f6f3f3, 0 -3px #f6f3f3, 0 -4px #f6f3f3, 0 -5px #f6f3f3, 0 -6px #f6f3f3, 0 -7px #f6f3f3, 0 -8px #f6f3f3;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}
@keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 #f6f3f3, 0 0 #f6f3f3, 0 0 #f6f3f3, 0 0 #f6f3f3, 0 0 #f6f3f3, 0 0 #f6f3f3, 0 0 #f6f3f3, 0 0 #f6f3f3;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    text-shadow: 0 -1px #f6f3f3, 0 -2px #f6f3f3, 0 -3px #f6f3f3, 0 -4px #f6f3f3, 0 -5px #f6f3f3, 0 -6px #f6f3f3, 0 -7px #f6f3f3, 0 -8px #f6f3f3;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}
